.slideAnimation {
  transition: transform 200ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
  will-change: transform;
  -webkit-backface-visibility: hidden;
}
